<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Add Review</title>
</head>
<body>
<h1>Add a Review for <span th:text="${review.trainer.name}"></span></h1>

<form th:action="@{/saveReview}" th:object="${review}" method="post">
    <!-- Assuming trainerId and userId need to be submitted as part of the form -->
    <input type="hidden" name="trainerId" th:value="${review.trainer.trainerId}" />
    <input type="hidden" name="userId" th:value="${review.user.userId}" />
    <textarea th:name="comment" placeholder="Enter your review here" th:text="${review.comment}"></textarea>
    <button type="submit">Submit Review</button>
</form>

</body>
</html>
