<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book Appointment</h1>
    <form th:action="@{/book_appointment}" th:object="${appointment}" method="post">
        <!-- Class Selection Dropdown -->
        <div>
            <label for="classId">Class:</label>
            <select id="classId" name="classId" required>
                <option value="">Select Class</option>
                <option th:each="class : ${classList}" th:value="${class.classId}" th:text="${class.className}"></option>
            </select>
        </div>

        <!-- Trainer Selection Dropdown -->
        <div>
            <label for="trainerId">Trainer:</label>
            <select id="trainerId" name="trainerId" required>
                <option value="">Select Trainer</option>
                <option th:each="trainer : ${trainerList}" th:value="${trainer.id}" th:text="${trainer.name}"></option>
            </select>
        </div>

        <!-- Date and Time Input -->
        <div>
            <label for="datetime">Date and Time:</label>
            <input type="datetime-local" id="datetime" name="datetime"
                   th:value="${formattedDateTimeNow}" th:min="${formattedDateTimeNow}" required/>
        </div>
        <!-- Submit Button -->
        <button type="submit">Book Appointment</button>

        <!-- Link Back to Appointment Listings -->
        <a th:href="@{/userAppointment}">Back to Appointments</a>
    </form>
</body>
</html>
