<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book Appointment</h1>
    <form method="POST" th:action="@{/bookAppointment}" th:object="${appointment}" onsubmit="return validateForm()">
        <label for="trainer">Select Trainer:</label>
        <select id="trainer" name="trainer" required>
            <option value="" disabled selected>Select Trainer</option>
            <option th:each="trainer : ${allTrainers}" th:value="${trainer.name}" th:text="${trainer.name}" th:selected="${trainer.name == appointment.trainer}"></option>
        </select>
        <br><br>
        <label for="class">Select Class:</label>
        <select id="class" name="classtype" required>
            <option value="" disabled selected>Select Class</option>
            <option th:each="class : ${allClasses}" th:value="${class.fitnessclassname}" th:text="${class.fitnessclassname}" th:selected="${class.fitnessclassname == appointment.classtype}"></option>
        </select>
        <br><br>
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date" th:min="${minDate}" required>
        <br><br>
        <!-- Add other appointment details fields if needed -->
        <input type="submit" value="Book Appointment">

        
    </form>

    <script>
        function validateForm() {
            var form = document.forms[0];
            if (!form.checkValidity()) {
                return false;
            }
            // Show popup message
            alert("Booking successful");
            return true;
        }
    </script>
    
</body>
<div style="text-align: center;">
    <form method="GET" action="/home_page">
        <button type="submit">Go Back to HomePage</button>
</html>
