<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Appointment</title>
</head>
<body>
    <h1>Edit Appointment</h1>
    <form method="post" action="/updateAppointment">
        <input type="hidden" name="id" value="${appointment.id}">
        
        <!-- Date input with dd/MM/yyyy format -->
        <label for="date">Date:</label>
        <input type="date" name="date" th:value="${#dates.format(appointment.date, 'dd-MM-yyyy')}" required><br><br>
        
        <!-- Trainer dropdown box -->
        <label for="trainer">Trainer:</label>
        <select id="trainer" name="trainer" required>
            <option th:each="trainer : ${allTrainers}" th:value="${trainer}" th:text="${trainer.name}" th:selected="${trainer.name == appointment.trainer}"></option>
        </select><br><br>
        
        <!-- Class dropdown box -->
        <label for="class">Class:</label>
        <select id="class" name="class" required>
            <option th:each="class : ${allClasses}" th:value="${class.id}" th:text="${class.name}"></option>
    </select><br><br>
        
        <button type="submit">Confirm Changes</button>
        <a href="/appointments">Cancel</a>
    </form>
</body>
</html>
