<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="edituserProfile.css" />
    <title>Edit Profile</title>
</head>
<body> 
    <h1>Edit Profile</h1>

     <div class="profile-container">

        <div class="profile-picture-box">
            <img th:src="@{'/images/' + ${user.photo}}" alt="User Image"/>
        </div>
        <a href="/choose_profile_picture" class="button-link">Change Profile Picture</a>
    </div>

    <form method="POST" action="/remove_profile_picture">
        <button type="submit">Remove Profile Picture</button>
    </form>

    <form method="POST" action="/updateProfile" th:object="${user}" enctype="multipart/form-data">
        <input type="hidden" name="email" th:value="${user.email}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="${user.name}" required pattern="[A-Za-z ]+" title="Name must contain only letters and spaces">    
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}" required pattern="[0-9]+" title="Phone number must contain only numbers"><br>
        </div>
        <div class="form-group">
            <label for="cardNumber">Credit Card Number:</label>
            <input type="text" id="cardNumber" name="cardNumber" th:value="${user.cardNumber}" required pattern="\d{16}" title="Credit card number must be 16 digits" maxlength="16"><br>
        </div>
        <div class="form-group">
            <label for="fileImage">Profile Picture:</label>
            <input type="file" id="fileImage" name="image" accept="image/png, image/jpg, image/jpeg"> 
        </div>
        <button type="submit">Save Changes</button>
        <a href="/profile" class="btn-back">Back</a>
    </form>    
    
    <form method="GET" action="/reset_password">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
