<!DOCTYPE html>
    <head>
        <title>Home</title>
    </head>
    <body>
    <form method="get" action="/profile">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">View Profile</button>
    </form>
    <form method="get" action= "/browse_plans">
        <button type="submit">Browse Plan</button>
    </form>
    <form method="get" action="/showFitnessClasses">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">View Fitness Classes</button>
    </form>
    <form method="get" action= "/browseChangeSubscription">
        <button type="submit">Change Your Plan</button>
    </form>
    <form method="get" action="/bookAppointment">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">I want to Book an Appointment</button>
    <form action="/view_trainers" method="get">
        <button type="submit"> View trainers</button>
    </form>
    <form method="get" action="/appointments">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">View Appointment</button>
    </form>
    </body>
</html>