<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form method="get" action="/profile">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">View Profile</button>
    </form>
    <form method="get" action="/browse_plans">
        <button type="submit">Browse Plans</button>
    </form>
    <form method="get" action="/showFitnessClasses">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">View Fitness Classes</button>
    </form>
    <form method="get" action= "/browseChangeSubscription">
        <button type="submit">Change Your Plan</button>
    </form>
    <form method="get" action="/book_appointment">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">Book an Appointment</button>
    </form>
    <form method="get" action="/view_trainers">
        <button type="submit">View Trainers</button>
    </form>
    <form method="get" action="/userAppointment">
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">View Appointments</button>
    </form>
</body>
</html>