<!-- manager-add-appointment.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Appointment</title>
</head>
<body>
    <h1>Add Appointment</h1>
    <form th:action="@{/manager_add_appointment}" method="post">
        <!-- Customer Email Dropdown -->
        <div>
            <label for="customerEmail">Customer Email:</label>
            <select name="customerEmail" id="customerEmail" required>
                <option value="">Select Customer</option>
                <!-- Iterate over userList and display only email addresses -->
                <option th:each="user : ${userList}" th:value="${user.userId}" th:text="${user.email}"></option>
            </select>
        </div>
        <!-- Class Selection Dropdown -->
        <div>
            <label for="classId">Class:</label>
            <select id="classId" name="classId" required>
                <option value="">Select Class</option>
                <!-- Iterate over classList and display className -->
                <option th:each="class : ${classList}" th:value="${class.classId}" th:text="${class.className}"
                        th:selected="${class.classId == classId}"></option>
            </select>
        </div>

        <!-- Trainer Selection Dropdown -->
        <div>
            <label for="trainerId">Trainer:</label>
            <select id="trainerId" name="trainerId" required>
                <option value="">Select Trainer</option>
                <!-- Iterate over trainerList and display trainer's name -->
                <option th:each="trainer : ${trainerList}" th:value="${trainer.id}" th:text="${trainer.name}"></option>
            </select>
        </div>
    
        <!-- Date and Time Input -->
        <div>
            <label for="datetime">Date and Time:</label>
            <input type="datetime-local" id="datetime" name="datetime"
                   th:value="${formattedDateTimeNow}" th:min="${formattedDateTimeNow}"
                   th:max="${endOfActiveDate}" required/>
        </div>
        <!-- Submit Button -->
        <button type="submit" onclick="validateUpdate(event)">Book Appointment</button>
    
        <!-- Button to go back to Appointments -->
        <button class="back-button" onclick="window.location.href='/manager_home_page'">Back to Appointments</button>
        <!-- Feedback messages -->
        <p th:text="${error}" style="color: red;"></p>
        <p th:text="${message}" style="color: green;"></p>
    </form>
    <script>   
        function validateUpdate(event) {
            event.preventDefault(); // Prevent form submission
            if (confirm("Are you sure you want to add this appointment?")) {
                event.target.form.submit(); // Submit the form only if confirmed
            }
        }
    </script>
</body>
</html>
