<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Purchase History</title>
</head>
<body>
    <h1>Plan Purchase History</h1>
    <!-- Check if there are any transactions in the purchase history -->
    <th:block th:if="${purchaseHistory.empty}">
        <p>No plan purchases yet.</p>
    </th:block>
    <th:block th:unless="${purchaseHistory.empty}">
        <table>
            <tr>
                <th>Date</th>
                <th>Payment Type</th>
                <th>Plan Type</th>
                <th>User ID</th>
                <th>Transaction ID</th>
                <th>Payment Method</th>
            </tr>
            <!-- Loop through purchaseHistory and display each transaction -->
            <tr th:each="transaction : ${purchaseHistory}">
                <td th:text="${transaction.purchasedDate}"></td>
                <td th:text="${transaction.paymentType}"></td>
                <td th:text="${transaction.planType}"></td>
                <td th:text="${transaction.userId}"></td>
                <td th:text="${transaction.transactionId}"></td>
                <td th:text="${transaction.paymentMethod}"></td>
            </tr>
        </table>
    </th:block>
    <a href="/home_page">Back to Home</a>
</body>
</html>
