<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plan Browsing Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <div class="header">
        <a th:href="@{/home_page}" class="header-button home-button">
            <i class="fas fa-arrow-left"></i> <!-- Icon is fully within the clickable area -->
        </a>
        <a th:href="@{/first_page}" th:if="${user == null}" class="header-button home-button"><i class="fas fa-arrow-left"></i></a>
        <div class="header-center">Browse Your Plan</div> 
        <div class="auth-buttons">
            <a th:href="@{/register_user}" th:if="${user == null}" class="header-button sign-up-button">Sign Up</a>
            <a th:href="@{/user_signin}" th:if="${user == null}" class="header-button sign-in-button">Sign In</a>
            <p th:if="${user != null}">Logged In: <span th:text="${user.Name}"></span></p>
        </div>
    </div>
    <div class="wrapper">
        <div th:each="planType, iterStat : ${planTypes}">
            <div class="card" th:classappend="${planType} + (iterStat.even ? ' even' : ' odd')">
                <div class="card-content">
                    <h3 th:text="${planType}">Plan Type</h3>
                    <p>Price starting from:
                        <span>
                            <span class="currency-symbol">¥</span>
                            <span th:text="${startingPrices[__${planType}__]} ?: 'Unavailable'">Price</span>
                        </span>
                    </p>
                    <ul>
                        <li th:each="benefit : ${planBenefits[__${planType}__]}" th:text="${benefit.description}">Benefit Description</li>
                    </ul>
                </div>
                <a th:href="@{/browsePlan/{planType}(planType=${planType})}" class="explore-button">Explore Plans</a>
            </div>
        </div>
    </div>    
    
</body>
</html>
