<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plan Browsing Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <div class="header">Browse Your Plan</div>
    <div th:if = "${user != null}">
        <p>Welcome User:  <span th:text="${user.name}">User</span></p>
        <p>Membership Status:  <span th:text="${user.status}">status</span></p>
        <p th:if = "${#strings.equals(user.status, 'Inactive')}">Valid Date: -</p>
        <p th:if = "${#strings.equals(user.status, 'Paused')}">Valid Date: Paused</p>
        <p th:if = "${!#strings.equals(user.status, 'Inactive') and !#strings.equals(user.status, 'Paused')}">Valid Date:  <span th:text= "${user.activeDate}">date</span></p>
    </div>
    <div th:if = "${user == null}">
        <p>You are not signed in, please <a th:href="@{/user_signin}">sign in</a></p>
    </div>
    <div class="wrapper">
        <div th:each="planType, iterStat : ${planTypes}">
            <div class="card" th:classappend="${planType} + (iterStat.even ? ' even' : ' odd')">
                <div class="card-content"> <!-- Container for the content above the button -->
                    <h3 th:text="${planType}">Plan Type</h3>
                    <p>Price starting from: 
                        <span>
                            <span class="currency-symbol">¥</span>
                            <span th:text="${startingPrices[__${planType}__]} ?: 'Unavailable'">Price</span>
                        </span>
                    </p>
                    <ul>
                        <li th:each="benefit : ${planBenefits[__${planType}__]}" th:text="${benefit.description}">Benefit Description</li>
                    </ul>
                </div>
                <a th:href="@{/browsePlan/{planType}(planType=${planType})}" class="explore-button">Explore Plans</a>
            </div>
        </div>
    </div>
</body>
</html>
