<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchase Confirmation</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <div class="header">
        <div class="header-center">Purchase Successful</div> 
    </div>
    <div class="container">
        <div class="content">
            <p class="plan-description">Your purchase has been confirmed successfully!</p>
            <p>Active Plan Now: <span th:text = "${user.status}"></span></p>
        </div>
    </div>
    <div>
        <a href="/home_page" class="submit-button">Back to Home</a>
    </div>
</body>
</html>