<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/user_signin">
        Email: <input type="text" name="email" required><br />
        Password: <input type="password" name="password" required><br />
        <button type="submit">Login</button>
        <a href="/forget_password">Forget password?</a>
    </form>
</body>
</html>