<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Trainer's profile</title>
    <style>
      img {
        width: 100 px;
        border-radius: 50 px;
        float: left;
        margin-right: 10 px;
        name {
          font-weight: bold;
        }
      }
    </style>
  </head>
  <body>
    <h1>Trainer's profile</h1>
    <img src="src\main\resources\images\1.jpg" alt="Trainer image"/>
    <br>
    <p class="name">Trainer's name:</p>
  </body>
</html>
