<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="trainers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <title>Trainers</title>
  </head>
  <body>
    <div class="header">
      <a th:href="@{/home_page}"  th:if="${user != null}" class="header-button home-button">
        <i class="fas fa-arrow-left"></i> <!-- Icon is fully within the clickable area -->
    </a><br>
    <div class="header-center">Our Trainers</div> 
    <div class="auth-buttons">
      <a th:href="@{/register_user}" th:if="${user == null}" class="header-button sign-up-button">Sign Up</a>
      <a th:href="@{/user_signin}" th:if="${user == null}" class="header-button sign-in-button">Sign In</a>
      <p th:if="${user != null}">Logged In: <span th:text="${user.Name}"></span></p>
  </div>
    </div>
    <form action="/view_trainers" method="get">
      <div class="radio-group">
        <input
          type="submit"
          id="radio"
          name="rank"
          class="radio-input"
          value=""
        />
        <label for="radio" class="radio-label">
          View all
        </label>
        <input
          type="submit"
          id="radio1"
          name="rank"
          class="radio-input"
          value="3"
        />
        <label for="radio1" class="radio-label">
          3-star
        </label>

        <input
          type="submit"
          id="radio2"
          name="rank"
          class="radio-input"
          value="4"
        />
        <label for="radio2" class="radio-label">
          4-star
        </label>

        <input
          type="submit"
          id="radio3"
          name="rank"
          class="radio-input"
          value="5"
        />
        <label for="radio3" class="radio-label">
          5-star
        </label>
      </div>
    </form>
      <br/><br>
      <ul>
        <div class="wrapper">
        <div th:each="trainer : ${trainers}" >
            <div class="card" th:classappend="${planType} + (iterStat.even ? ' even' : ' odd')">
                <div class="imgbox">
                  <div class="img">
                  <img th:src="${trainer.photo.contains('http') ? trainer.photo : 'images/' + trainer.photo}"
                  alt="Trainer Photo"> 
                  </div>
                </div>
                <h3 th:text="${trainer.name}">Trainer name</h3>
                <p class="rank">Rank
                  <div class = "stars" >
                  <span th:each="starNumber : ${#numbers.sequence(1, trainer.rank)}">&#9733;</span>
                </p>  
                </div>
                <a th:href="@{'/trainer_profile?id=' + ${trainer.id}}"> View trainer profile</a>

            </div>
          <br>
        </div>
        </div>
      </ul>
    </div>
  </body>
</html>
