<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="trainers.css" />
    <title>Trainers</title>
  </head>
  <body>
    <div>
      <form action="/view_trainers" method="get">
        <div class="radio-group">
          <input
            type="submit"
            id="radio"
            name="rank"
            class="radio-input"
            value=""
          />
          <label for="radio" class="radio-label">
            View all
          </label>
          <input
            type="submit"
            id="radio1"
            name="rank"
            class="radio-input"
            value="3"
          />
          <label for="radio1" class="radio-label">
            3-star
          </label>

          <input
            type="submit"
            id="radio2"
            name="rank"
            class="radio-input"
            value="4"
          />
          <label for="radio2" class="radio-label">
            4-star
          </label>

          <input
            type="submit"
            id="radio3"
            name="rank"
            class="radio-input"
            value="5"
          />
          <label for="radio3" class="radio-label">
            5-star
          </label>
        </div>
      </form>
    </div>
    <h1>Our Trainers</h1>
      <br/><br>
      <ul>
        <div th:each="trainer : ${trainers}" >
          <div class="card-container">
            <div class="card">
              <div class="imgbox">
                <div class="img">
                <img th:src="@{'images/' + ${trainer.image}}" alt="Trainer image" />
                </div>
              </div>
              <span th:text="${trainer.name}">Trainer name</span>
              <p class="rank">Rank
                <div class = "stars" >
                <span th:each="starNumber : ${#numbers.sequence(1, trainer.rank)}">&#9733;</span>
              </p>  
              </div>
              <th:block th:if="${trainer.id}">
                <form method="get" action="/trainer_profile">
                  <!-- Hidden input field to store the trainer ID -->
                  <input type="hidden" name="id" th:value="${trainer.id}" />
                  <button type="submit">View Trainer profile</button>
                </form>
              </th:block>
            </div>
          </div>
          <br>
        </div>
      </ul>
    </div>
  </body>
</html>
